<section class="section-1">
  <header>
    <div>
      <div class="quipage">
        <div class="small-logo">
          <%= link_to root_path do %>
            <%= image_tag "logo.png" %>
          <% end %>
        </div>

        <div class="menu-navbar">
          <div class="centered-nev-item">
            <%= link_to "Qui suis-je ?", qui_path %>
          </div>
          <div class="centered-nev-item">
            <%= link_to "Randonnées", hikes_path %>
          </div>
          <div class="centered-nev-item">
            <%= link_to "Animation nature", animation_path %>
          </div>
          <div class="centered-nev-item">
            <%= link_to "Photos", photos_path %>
          </div>
          <div class="centered-nev-item">
            <%= link_to "Tarifs et conditions", tarifs_path %>
          </div>
          <div class="centered-nev-item">
            <%= link_to "Contactez-moi", new_message_path, style: "color: #1f547a" %>
          </div>
        </div>
      </div>
    </div>
  </header>
</section>

<div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/547115/pexels-photo-547115.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
    <div class="entry" style="margin-left: 6%">
      <div style="  padding-top: 82px">
        <h1>Simon Cailleau</h1>
        <h3>Accompagnateur moyenne montagne</h3>
        <%= link_to "Réserver", hikes_path, class: "btn btn-flat" %>
      </div>

      <div>
        <%= image_tag "portrait-circle.png", style: "margin-right: 10%" %>
      </div>
    </div>
  </div>
</div>

<div class="blue-box">
  <h5 style="margin-bottom: 40px">N'hésitez pas à me partager vos envies, vos projets et vos questions !</h5>

  <%= simple_form_for @message do |f| %>
    <div class="new-flex">
      <div class="test-48">
        <%= f.input :name, placeholder: "Nom", label: false %>
      </div>
      <div class="test-48">
        <%= f.input :telephone, placeholder: "Téléphone", label: false %>
      </div>
    </div>
    <%= f.input :word, placeholder: "Message", label: false %>
    <%= f.submit "Envoyer" %>
  <% end %>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script>
  $(document).ready(function(){
    $(window).on('scroll', function(){
      if ($(window).scrollTop()) {
                $("header").addClass('no-background');
                $(".centered-nev-item").addClass('killmar');
      }else{
        $("header").removeClass('no-background');
        $(".centered-nev-item").removeClass('killmar');
      }
    });
  });
</script>
