<div class="white-background">
  <div class="quipage">
    <div class="centered-item-50">
      <p>Simon CAILLEAU</p>
      <p>06.32.65.25.12</p>
    </div>

    <div class="small-logo">
      <%= link_to root_path do %>
        <%= image_tag "logo.png" %>
      <% end %>
    </div>

    <div class="centered-item-40">
      <div>
        <%= link_to root_path do %>
          <%= image_tag "facebook.png" %>
        <% end %>
      </div>
      <div>
        <%= link_to root_path do %>
          <%= image_tag "instagram.png" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="menu-navbar">
    <div>
      <%= link_to "Qui suis-je ?", qui_path %>
    </div>
    <div>
      <%= link_to "Randonnées", rando_path %>
    </div>
    <div>
      <%= link_to "Animation nature", animation_path %>
    </div>
    <div>
      <%= link_to "Photos", photos_path %>
    </div>
    <div>
      <%= link_to "Tarifs et conditions", tarifs_path %>
    </div>
    <div class="red-border">
      <%= link_to "Contactez-moi", new_message_path %>
    </div>
  </div>
</div>

<div class="form">
  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquam ipsum at fringilla ultrices.
  Phasellus feugiat erat quis lacus tempus, ac dictum sapien ornare. Suspendisse vel ullamcorper nibh. Aliquam id egestas velit. Suspendisse potenti.
  Vivamus dictum est et quam condimentum tristique. Fusce id odio sit amet felis tincidunt gravida. Nunc sagittis eu velit sed commodo.
  Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

  <%= simple_form_for @message do |f| %>
    <div class="new-flex">
      <div class="test-48">
        <%= f.input :name, placeholder: "Nom", label: false %>
      </div>
      <div class="test-48">
        <%= f.input :telephone, placeholder: "Téléphone", label: false %>
      </div>
    </div>
    <%= f.input :word, placeholder: "Message", label: false %>
    <%= f.submit "Envoyer" %>
  <% end %>
</div>
