<div class="form">
  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquam ipsum at fringilla ultrices. Phasellus feugiat erat quis lacus tempus, ac dictum sapien ornare. Suspendisse vel ullamcorper nibh. Aliquam id egestas velit. Suspendisse potenti. Vivamus dictum est et quam condimentum tristique. Fusce id odio sit amet felis tincidunt gravida. Nunc sagittis eu velit sed commodo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

  <%= simple_form_for @message do |f| %>
    <div class="new-flex">
      <div class="test-48">
        <%= f.input :name, placeholder: "Nom", label: false %>
      </div>
      <div class="test-48">
        <%= f.input :telephone, placeholder: "Téléphone", label: false %>
      </div>
    </div>
    <%= f.input :word, placeholder: "Message", label: false %>
    <%= f.submit "Envoyer" %>
  <% end %>
</div>
