<div class="white-background">
  <div class="centered-element">
    <%= link_to root_path do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>

  <div class="menu-navbar">
    <div>
      <%= link_to "Qui suis-je ?", qui_path %>
    </div>
    <div>
      <%= link_to "Randonnées", rando_path %>
    </div>
    <div>
      <%= link_to "Animation nature", animation_path %>
    </div>
    <div>
      <%= link_to "Photos", photos_path %>
    </div>
    <div>
      <%= link_to "Tarifs et conditions", tarifs_path %>
    </div>
    <div>
      <%= link_to "Contactez-moi", new_message_path %>
    </div>
  </div>
</div>
