<section class="section-1">
  <header>
    <div>
      <div class="quipage">
        <div class="small-logo">
          <%= link_to root_path do %>
            <%= image_tag "logo.png" %>
          <% end %>
        </div>

        <div class="menu-navbar">
          <div class="centered-nev-item">
            <%= link_to "Qui suis-je ?", qui_path %>
          </div>
          <div class="centered-nev-item">
            <%= link_to "Randonnées", hikes_path, style: "color: #1f547a" %>
          </div>
          <div class="centered-nev-item">
            <%= link_to "Animation nature", animation_path %>
          </div>
          <div class="centered-nev-item">
            <%= link_to "Photos", photos_path %>
          </div>
          <div class="centered-nev-item">
            <%= link_to "Tarifs et conditions", tarifs_path %>
          </div>
          <div class="centered-nev-item">
            <%= link_to "Contactez-moi", new_message_path %>
          </div>
        </div>
      </div>
    </div>
  </header>
</section>

<div>
  <video id="background-video" autoplay loop muted>
    <source src="https://res.cloudinary.com/dsas0wiz2/video/upload/v1682513010/pexels-yaroslav-shuraev-4763823-4096x2160-24fps_xkwbqc.mp4" type="video/mp4">
  </video>

  <div class="banner" style="margin-left: 20%; padding-bottom: 400px">
    <h1>Les randonnées</h1>
    <h3>En Provence ou ailleurs</h3>
    <%= link_to "Réserver", new_reservation_path, type: "button", class: "btn btn-flat" %>
  </div>
</div>

<div class="white-box">
  <p class="text-justify" style="margin-bottom: 0px">Prenez une pause pour découvrir les paysages et curiosités du Vaucluse.
  Construisons ensemble <strong>la randonnée adaptée à votre niveau et à vos attentes</strong>, venez découvrir l'aventure qui vous
  convient. Suivant la saison, certaines randonnées sont plus adaptées que d'autres pour profiter du paysage.
  A la journée ou à la demi-journée, sur plusieurs jours en étoile ou en itinérance, contactez-moi et construisons
  ensemble votre randonnée.</p>

  <video id="small-video" autoplay loop muted>
    <source src="https://res.cloudinary.com/dsas0wiz2/video/upload/v1682523739/lac_fcwufp.mp4" type="video/mp4">
  </video>
</div>

<div class="white-box">
  <h3>Liste des randonnées et bivouacs</h3>
  <div class="list-rando">
    <% @hikes.each do |hike| %>
      <div>
        <p><%= link_to hike.title, hike_path(hike) %></p>
        <%= cl_image_tag hike.photo.key, height: 300, width: 400, crop: :fill %>
      </div>
    <% end %>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script>
  $(document).ready(function(){
    $(window).on('scroll', function(){
      if ($(window).scrollTop()) {
                $("header").addClass('no-background');
                $(".centered-nev-item").addClass('killmar');
      }else{
        $("header").removeClass('no-background');
        $(".centered-nev-item").removeClass('killmar');
      }
    });
  });
</script>
