<div>
  <div class="white-background">
    <div class="centered-element">
      <%= link_to root_path do %>
        <%= image_tag "logo.png" %>
      <% end %>
    </div>

    <div class="menu-navbar">
      <div>
        <%= link_to "Qui suis-je ?", qui_path %>
      </div>
      <div>
        <%= link_to "Randonnées", rando_path %>
      </div>
        <%= link_to "Animation", animation_path %>
      <div>
        <%= link_to "Nature", nature_path %>
      </div>
      <div>
        <%= link_to "Photos", photos_path %>
      </div>
      <div>
        <%= link_to "Tarifs et conditions", tarifs_path %>
      </div>
      <div>
        <%= link_to "Contactez-moi", contact_path %>
      </div>
    </div>
  </div>

  <div class="grid-photos">
    <%= image_tag "https://images.pexels.com/photos/14142377/pexels-photo-14142377.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" %>
    <%= image_tag "https://images.pexels.com/photos/2308893/pexels-photo-2308893.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" %>
    <%= image_tag "https://images.pexels.com/photos/2975746/pexels-photo-2975746.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" %>
    <%= image_tag "https://images.pexels.com/photos/8065131/pexels-photo-8065131.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" %>
  </div>
</div>
