<div class="white-background">
  <div class="quipage">
     <div class="small-logo">
      <%= link_to root_path do %>
        <%= image_tag "logo.png" %>
      <% end %>
    </div>

    <div class="menu-navbar">
      <div style="padding: 26px; margin-top: 24px">
        <%= link_to "Qui suis-je ?", qui_path %>
      </div>
      <div style="padding: 26px; margin-top: 24px">
        <%= link_to "Randonnées", hikes_path %>
      </div>
      <div  style="padding: 26px; margin-top: 24px">
        <%= link_to "Animation nature", animation_path %>
      </div>
      <div  style="padding: 26px; margin-top: 24px">
        <%= link_to "Photos", photos_path, class: "red-border" %>
      </div>
      <div style="padding: 26px; margin-top: 24px">
        <%= link_to "Tarifs et conditions", tarifs_path %>
      </div>
      <div  style="padding: 26px; margin-top: 24px">
        <%= link_to "Contactez-moi", new_message_path %>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="grid-phot">
    <%= image_tag "https://images.pexels.com/photos/789555/pexels-photo-789555.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" %>
    <%= image_tag "https://images.pexels.com/photos/1480806/pexels-photo-1480806.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" %>
    <%= image_tag "https://images.pexels.com/photos/1552932/pexels-photo-1552932.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" %>
    <%= image_tag "https://images.pexels.com/photos/2437293/pexels-photo-2437293.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" %>
  </div>
</div>
