<div class="white-background">
  <div class="quipage">
    <div class="centered-item-50">
      <p>Simon CAILLEAU</p>
      <p>06.32.65.25.12</p>
    </div>

    <div class="small-logo">
      <%= link_to root_path do %>
        <%= image_tag "logo.png" %>
      <% end %>
    </div>

    <div class="centered-item-40">
      <div>
        <%= link_to root_path do %>
          <%= image_tag "facebook.png" %>
        <% end %>
      </div>
      <div>
        <%= link_to root_path do %>
          <%= image_tag "instagram.png" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="menu-navbar">
    <div class="red-border">
      <%= link_to "Qui suis-je ?", qui_path %>
    </div>
    <div>
      <%= link_to "Randonnées", rando_path %>
    </div>
    <div>
      <%= link_to "Animation nature", animation_path %>
    </div>
    <div>
      <%= link_to "Photos", photos_path %>
    </div>
    <div>
      <%= link_to "Tarifs et conditions", tarifs_path %>
    </div>
    <div>
      <%= link_to "Contactez-moi", new_message_path %>
    </div>
  </div>
</div>

<div class="container">
  <div style="margin-top: 30px; margin-bottom: 20px">
    <h4><strong>Simon CAILLEAU</strong></h4>
    <h5><strong>Outre-Massifs</strong></h5>
  </div>
  <div class="presentation">
    <div>
      <%= image_tag "https://images.pexels.com/photos/13452647/pexels-photo-13452647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" %>
    </div>
    <div>
      <p>Amoureux des grands espaces et passionné par la nature depuis longtemps, j'ai décidé d'en faire
      mon métier et de devenir accompagnateur en montagne en 2020. <br> <br>
      J'habite Avignon, camp de base de mes aventures, autour duquel je rayonne pour explorer les
      différents massifs provençaux. Rester curieux du patrimoine naturel et humain qui nous entoure
      et sensibiliser le grand public à le respecter, voilà ce qui m'anime. <br> <br>
      Quel beau métier que celui d'accompagnateur en moyenne montagne.
      L'accompagnateur est là avant tout pour permettre aux pratiquants, qu'ils soient novices ou
      initiés, de découvrir la montagne en toute sécurité. Ses prérogatives sont certifié par un diplôme
      d'état relevant du Ministère des sports. <br> <br>
      Son rôle dépasse l'encadrement d'activités sportives. L'accompagnateur en moyenne montagne
      fait découvrir aux marcheurs les richesses de la nature, du patrimoine et de sa culture présents
      dans les massifs parcourus.</p>
    </div>
  </div>
</div>
