<div class="white-background">
  <div class="quipage">
    <div class="centered-item-50">
      <p>Simon CAILLEAU</p>
      <p>06.32.65.25.12</p>
    </div>

    <div class="small-logo">
      <%= link_to root_path do %>
        <%= image_tag "logo.png" %>
      <% end %>
    </div>

    <div class="centered-item-40">
      <div>
        <%= link_to root_path do %>
          <%= image_tag "facebook.png" %>
        <% end %>
      </div>
      <div>
        <%= link_to root_path do %>
          <%= image_tag "instagram.png" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="menu-navbar">
    <div>
      <%= link_to "Qui suis-je ?", qui_path %>
    </div>
    <div class="red-border">
      <%= link_to "Randonnées", rando_path %>
    </div>
    <div>
      <%= link_to "Animation nature", animation_path %>
    </div>
    <div>
      <%= link_to "Photos", photos_path %>
    </div>
    <div>
      <%= link_to "Tarifs et conditions", tarifs_path %>
    </div>
    <div>
      <%= link_to "Contactez-moi", new_message_path %>
    </div>
  </div>
</div>

<div class="container-rando">
  <p class="text-justify">Prenez une pause pour découvrir les paysages et curiosités du Vaucluse.
Construisons ensemble la randonnée adaptée à votre niveau et à vos attentes, venez découvrir l'aventure qui vous
convient. Suivant la saison, certaines randonnées sont plus adaptées que d'autres pour profiter du paysage.
A la journée ou à la demi-journée, sur plusieurs jours en étoile ou en itinérance, contactez-moi et construisons
ensemble votre randonnée.</p>
</div>

<div>
  <div class="grid-photos">
    <div class="photo-card">
      <div class="text-card">
        <h5>Les Alpilles</h5>
      </div>
      <%= image_tag "https://images.pexels.com/photos/3451608/pexels-photo-3451608.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" %>
    </div>

    <div class="photo-card">
      <div class="text-card">
        <h5>Dentelles de Montmirail</h5>
      </div>
      <%= image_tag "https://images.pexels.com/photos/416779/pexels-photo-416779.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" %>
    </div>

    <div class="photo-card">
      <div class="text-card">
        <h5>Le Luberon</h5>
      </div>
      <%= image_tag "https://images.pexels.com/photos/3303728/pexels-photo-3303728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" %>
    </div>

    <div class="photo-card">
      <div class="text-card">
        <h5>Initiation au bivouac</h5>
      </div>
      <%= image_tag "https://images.pexels.com/photos/3163943/pexels-photo-3163943.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" %>
    </div>
  </div>
</div>
