<div class="form">
  <p class="text-justify">Réserver une rando !</p>

  <%= simple_form_for @reservation do |f| %>
    <div>
      <div>
        <%= f.input :name, placeholder: "Nom de la randonnée", label: false %>
      </div>
      <div>
        <%= f.input :attendant, placeholder: "Nombre de personnes", label: false %>
      </div>
    </div>
    <%= f.input :text, placeholder: "Commentaire", label: false %>
    <%= f.submit "Réserver !" %>
  <% end %>
</div>
