<!DOCTYPE html>
<html>
  <head>
    <title>Outre-Massifs</title>

    <%= favicon_link_tag "favicon.ico", rel: "icon", type: "image/png" %>

    <!-- Google result description-->
    <meta name="description" content="Outre-Massifs | Randonnées en Vaucluse et ailleurs avec Simon Cailleau.">

    <!-- Facebook result description-->
    <meta property="og:title" content="Outre-Massifs - Randonnées en Vaucluse et ailleurs.">
    <meta property="og:image" content="alpilles.jpg">
    <meta property="og:description" content="Outre-Massifs | Randonnées en Vaucluse et ailleurs avec Simon Cailleau.">
    <meta property="og:site_name" content="Outre-Massifs"/>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
